.book {
  margin-top: 10px;
  margin-left: 10px;
}

.margin {
  margin-bottom: 10px;
}

.text-format {
  color: #383838 !important;
  font-family: Helvetica, sans-serif !important;
}

.page-up-margin {
  margin-top: 2%;
}
