body {
  color: #383838 !important;
  font-family: Helvetica, sans-serif !important;
}

.margin {
  margin-bottom: 10px;
}
.margin-between {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

.page-up-margin {
  margin-top: 2%;
}

.book {
  margin-top: 10px;
  margin-left: 10px;
}

.bookText a:link,
.bookText a:visited,
.bookText a:active,
.bookText a:hover {
  color: #383838 !important;
  font-family: Helvetica, sans-serif !important;
  text-decoration: none !important;
}

.genre-margin label {
  margin-left: 5px;
}
