.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0% 10;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}
.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.text-format {
  color: #383838 !important;
  font-family: Helvetica, sans-serif !important;
}
