<div style="margin-top: 2%;">
  <div class="col-md-4 offset-md-4 page-up-margin">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="form-group">
        <label for="lastName">Nume</label>
        <input
          required
          minlength="5"
          ngModel
          name="name"
          #name="ngModel"
          id="name"
          type="text"
          class="form-control input-md"
        />
      </div>

      <div class="form-group">
        <label for="firstName">CNP</label>
        <input
          required
          minlength="10"
          ngModel
          name="cnp"
          #cnp="ngModel"
          type="text"
          id="cnp"
          class="form-control input-md"
        />
      </div>

      <div class="text-center">
        <button class="btn btn-primary">
          Trimite
        </button>
      </div>
    </form>
  </div>
</div>
