<div style="margin-top: 2%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <app-search
          (messageEvent)="receiveMessage($event)"
          (radioEvent)="receiveFilter($event)"
        ></app-search>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Nume</th>
              <th>Autor</th>
              <th>Exemplare</th>
              <th>Opiuni</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let book of books
                  | paginate
                    : {
                        itemsPerPage: 5,
                        currentPage: pageNr,
                        totalItems: totalPages
                      }
              "
            >
              <td>{{ book.name }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.total }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-info"
                  id="edit"
                  routerLink="edit/{{ book.id }}"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  id="edit"
                  (click)="deleteBook(book.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination-template
          #p="paginationApi"
          (pageChange)="pageChange?.emit($event)"
          class="pagination justify-content-end"
        >
          <div
            class="pagination-previous page-item"
            [class.disabled]="p.isFirstPage()"
          >
            <a
              class="page-link"
              *ngIf="!p.isFirstPage()"
              (click)="p.previous(); getPageInfo(pageNr - 1)"
            >
              Inapoi
            </a>
          </div>

          <div
            *ngFor="let page of p.pages; &quot;page-item&quot;"
            [class.current]="p.getCurrent() === page.value"
          >
            <a
              class="page-link"
              (click)="p.setCurrent(page.value); getPageInfo(page.value)"
              *ngIf="p.getCurrent() !== page.value"
            >
              <span class="page-item">{{ page.label }}</span>
            </a>
            <div *ngIf="p.getCurrent() === page.value">
              <span class="page-item active page-link">{{ page.label }}</span>
            </div>
          </div>

          <div
            class="pagination-next page-item"
            [class.disabled]="p.isLastPage()"
          >
            <a
              class="page-link"
              *ngIf="!p.isLastPage()"
              (click)="p.next(); getPageInfo(pageNr + 1)"
            >
              Inainte
            </a>
          </div>
        </pagination-template>
      </div>
    </div>
  </div>
</div>
