body {
  color: #383838 !important;
  font-family: Helvetica, sans-serif !important;
}

.menu a:link,
.menu a:visited,
.menu a:active,
.menu a:hover {
  color: white !important;
  text-decoration: none !important;
}

.dropdownButoon a:link,
.dropdownButoon a:visited,
.dropdownButoon a:active,
.dropdownButoon a:hover {
  color: grey !important;
  text-decoration: none !important;
}
