.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0% 10;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

thead th {
    background-color: #32B232;
    color: white;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #32B232;
    border-color: #32B232;
}